<h2>Onderverhuurcontract Gitoo</h2>
<p><b>Kotbaas:</b> {{ kotbaas_naam }}<br>
Email: {{ kotbaas_email }}<br>
Tel: {{ kotbaas_telefoon }}</p>
<p><b>Student:</b> {{ student_naam }}<br>
Email: {{ student_email }}<br>
Tel: {{ student_telefoon }}</p>
<p><b>Adres kot:</b> {{ kot_adres }}<br>
Oppervlakte: {{ kot_oppervlakte }} m²</p>
<!-- Hier kun je vaste tekst laten volgen uit je PDF-context-snippet... -->
<p>
De verdere voorwaarden zijn opgenomen in het standaardcontract van Gitoo.<br>
<!-- Eventueel de rest van je contracttekst als vaste sectie eronder plakken -->
</p>
